body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff; 
    color: #000; 
}

#login-sesion {
    text-align: center;
    font-size: 1.37rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
    color: #611232; 
}

#root {
    width: 100%;
    padding: 0 0.6rem;
}

.login-container {
    max-width: 410px;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    background: #fff; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-form .input-wrapper {
    height: 54px;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.login-form .input-wrapper .input-field {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.06rem;
    border-radius: 0.31rem;
    border: 1px solid #a57f2c; 
    padding: 0 1.25rem 0 3.12rem;
    transition: 0.2 ease;
    color: #000; 
}

.login-form .input-wrapper .input-field:focus {
    border-color: #611232; 
}

.login-form .input-wrapper .input-field::placeholder {
    color: #a57f2c;
}

.login-form .input-wrapper i {
    color: #a57f2c;
    position: absolute;
    top: 50%;
    left: 0.9rem;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2 ease;
}

.login-form .input-wrapper .input-field:focus ~ i {
    color: #611232; 
}

.login-form .login-button {
    width: 100%;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.25rem;
    color: #fff; 
    font-weight: 500;
    background: #a57f2c;
    margin-top: 2.19rem;
    border-radius: 0.31rem;
    transition: 0.2s ease;
}

.login-form .login-button:hover {
    background: #611232; 
}

.login-container .signup-text {
    text-align: center;
    font-weight: 500;
    margin: 1.75rem 0 0.31rem;
    cursor: pointer;
    color: #611232; 
}