.complaints-container {
    padding: 2rem;
    margin: 2vh 2vw;
    width: 100%;
    max-width: 95vw;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.complaints-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.form-input,
.form-dropdown {
    flex: 1 1 calc(50% - 1rem);
    min-width: 12rem;
    padding: 0.75rem;
    border: 1px solid #a57f2c;
    border-radius: 0.31rem;
    font-size: 1.06rem;
    color: #000;
    background-color: #fff;
    transition: 0.2s ease;
}

.form-input:focus,
.form-dropdown:focus {
    border-color: #611232;
    outline: none;
    box-shadow: 0 0 0.25rem rgba(97, 18, 50, 0.5);
}

.form-section-title,
.form-section-subtitle {
    font-size: 1.37rem;
    font-weight: bold;
    color: #611232;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
}

.radio-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
}

.radio-group label {
    font-size: 1rem;
    color: #555;
}

.radio-group span {
    padding: 0.5rem;
}

.submit-button {
    width: 15%;
    height: 50px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    background-color: #a57f2c;
    border: none;
    border-radius: 0.31rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-top: 2rem;
}

.submit-button:hover {
    background-color: #611232;
}

.submit-button:active {
    background-color: #4b0f28;
}

@media (max-width: 600px) {
    .form-input,
    .form-dropdown {
        flex: 1 1 100%;
    }
}